<div class="w-full content-container">
  <div class="p-10">
    <div>
      <div class="flex flex-row flex-auto gap-4">
        <mat-card class="relative flex flex-row w-full">
          <mat-card-content>
              <h1 class="font-medium">Asia Alternatives Summary</h1>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="flex flex-row sm:flex-col md:flex-col lg:flex-row flex-auto gap-4 pt-6">
        <mat-card class="grow w-full">
          <mat-card-header class="flex flex-col">
            <div>
              <h3 class="left font-medium">Value Creation Q1 2021</h3>
            </div>
          </mat-card-header>
          <mat-card-content>
            <google-chart
                [type]="columnType"
                [data]="columnChartData"
                [columns]="columnChartColumns"
                [options]="options"
              ></google-chart>
          </mat-card-content>
        </mat-card>
        <mat-card class="flex-none w-5/12 sm:w-full md:w-full lg:w-5/12">
          <mat-card-header class="">
            <div>
              <h3 class="left font-medium">Aggregation overview</h3>
            </div>
          </mat-card-header>
          <mat-card-content>
            <google-chart
            class="pt-3 aggregated-overview"
            [type]="tableType"
            [data]="tableAggregatedData"
            [columns]="tableAggregatedColumns"
            [options]="tableAggregatedOptions"
            [formatters]="myAggregatedFormatters"
          ></google-chart>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="pt-6">
        <mat-card class="grow w-full">
          <mat-card-header class="flex flex-col">
            <div>
              <div class="left">
                <h3 class="font-medium">Asia Alternatives performance by fund</h3>
              </div>
            </div>
          </mat-card-header>
          <mat-card-content>
            <div class="flex flex-col overflow-table">
              <google-chart
                class="pt-3 aa-performance"
                [type]="tableType"
                [data]="tableData"
                [columns]="tableColumns"
                [options]="tableOptions"
                [formatters]="myFormatters"
              ></google-chart>
            </div> 
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>