<div class="w-full content-container">
    <div class="top-banner-wrapper">
        <div class="top-banner-content mb:text-base lg:text-xl">
            Welcome to Asia Alternatives to Quantium Investor Portal
        </div>
    </div>
    <div class="p-7">
      <div>
        <div class="flex flex-col flex-auto gap-4 items-center">
            <mat-card class="flex sm:w-full md:w-7/12 lg:w-5/12">
                <mat-card-content>
                    <a href="/#/investor-summary" class="flex flex-row px-10 py-3">
                        <img src="assets/images/ggv-capital.png" width="90" />
                        <div class="ml-10">
                            <div class="text-xl mt-3">GGV Capital Limited</div>
                            <div class="text-xs mt-2"><span class="label label-blue mr-5">Reporting</span> USD FUND V (Q1 2021)</div>
                            <div class="text-xs mt-2"><span class="label label-blue mr-5">Reporting</span> USD FUND V (Q1 2021)</div>
                        </div>
                    </a>
                </mat-card-content>
            </mat-card>
            <mat-card class="flex sm:w-full md:w-7/12 lg:w-5/12 mt-10">
                <mat-card-content>
                    <a href="/#/investor-summary" class="flex flex-row px-10 py-3">
                        <img src="assets/images/sequoia.png" width="90" />
                        <div class="ml-10">
                            <div class="text-xl mt-3">Sequoia Venture Limited</div>
                            <div class="text-xs mt-2"><span class="label label-green mr-5">Fundraising</span> USD Fund VI (First closing)</div>
                        </div>
                    </a>
                </mat-card-content>
            </mat-card>
            
        </div>
    </div>
</div>